.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.btn{
    width: 100%;
}

.save{
    width: auto;
    background-color: black;
    color: white;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 50px;
}

.table{
    margin: 1px;
    width: 1000px;
}

.button{
    background-color: rgb(24, 156, 82);
    margin: 6px;
}

.d-button{
    background-color: rgb(190, 49, 49);
}


.create{
    margin-top: 50px;
    margin-left: 480px;
}

.editheading{
    display: flex;
    align-items: center;
    justify-content: center;
}